In [2]:
isaac={
    'nombre':'Isaac',
    'apellido':'Pilatuña',
    'edad':22,
    'hijos':None,
    'casado':False,
    'sueldo':25.55,
    'mascotas':[
        {
            'nombre':'tarzan',
            'edad':5
        }
    ],
    'notas':(15,16,17)
}

In [3]:
isaac['nombre']

'Isaac'

In [4]:
isaac['mascotas'][0]['nombre']

'tarzan'

In [5]:
isaac.get('nombre')

'Isaac'

In [6]:
isaac.get('apellido')

'Pilatuña'

In [7]:
isaac

{'nombre': 'Isaac',
 'apellido': 'Pilatuña',
 'edad': 22,
 'hijos': None,
 'casado': False,
 'sueldo': 25.55,
 'mascotas': [{'nombre': 'tarzan', 'edad': 5}],
 'notas': (15, 16, 17)}

In [8]:
isaac.pop('casado')

False

In [9]:
isaac

{'nombre': 'Isaac',
 'apellido': 'Pilatuña',
 'edad': 22,
 'hijos': None,
 'sueldo': 25.55,
 'mascotas': [{'nombre': 'tarzan', 'edad': 5}],
 'notas': (15, 16, 17)}

In [10]:
for key in isaac.keys():
    print(f"Llave: {key}    Valor:{isaac[key]}")

Llave: nombre    Valor:Isaac
Llave: apellido    Valor:Pilatuña
Llave: edad    Valor:22
Llave: hijos    Valor:None
Llave: sueldo    Valor:25.55
Llave: mascotas    Valor:[{'nombre': 'tarzan', 'edad': 5}]
Llave: notas    Valor:(15, 16, 17)

In [12]:
valores_nuevos={
    'talia':'Talia',
    'rafico':'Rafico',
    'lula':'Lula'
}

In [13]:
isaac.update(valores_nuevos)

In [14]:
isaac

{'nombre': 'Isaac',
 'apellido': 'Pilatuña',
 'edad': 22,
 'hijos': None,
 'sueldo': 25.55,
 'mascotas': [{'nombre': 'tarzan', 'edad': 5}],
 'notas': (15, 16, 17),
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [15]:
isaac.get('mascotas')[0].update(valores_nuevos)

In [16]:
isaac

{'nombre': 'Isaac',
 'apellido': 'Pilatuña',
 'edad': 22,
 'hijos': None,
 'sueldo': 25.55,
 'mascotas': [{'nombre': 'tarzan',
   'edad': 5,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'notas': (15, 16, 17),
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [17]:
isaac.get('asd')

In [19]:
# isaac['asd'] --> Ocasiona un error de llave